<%
=begin%>
 <h1>アカウント編集</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>

    <small class="form-text text-muted"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'  %>
  </div> 
<%
=end%>

  <%
=begin%>
 <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>

    <small class="form-text text-muted"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
  </div> 
<%
=end%>

  <%
=begin%>
 <div class="form-group">
    <%= f.submit t('.update'), class: 'btn btn-primary btn-block' %>
  </div>
<% end %>

<!--<hr class="devise-link my-5">
  <div class="form-group">
    <%= link_to "トップページ", users_card_path(resource), class: 'btn btn-info btn-block mb-4' %>
    <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: {confirm: t('.are_you_sure')}, method: :delete, class: 'btn btn-danger btn-block' %>
  </div>--> 
<%
=end%>


<%
=begin%>
 <h2><%= t('.title', resource: resource.model_name.human) %></h2> 
<%
=end%>

<div class="register-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="" class="h2"><b class="devise-logo">膣美人オンラインサロン</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">アカウントの編集を行えます</p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="input-group mb-3">
          <%= f.text_field :name, class:"form-control", placeholder:"名前（フルネーム）" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"メールアドレス", required: true %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"変更後パスワード(変更したい場合)" %>
          
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"変更後パスワード確認用" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <%
=begin%>
 <div class="input-group mb-3">
          <%= f.password_field :current_password, autocomplete: "new-password", class:"form-control", placeholder:"現在のパスワード（必須）", required: true %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div> 
<%
=end%>
        <div class="row">
          <!-- /.col -->
          <div>
            <%= f.submit t('.update'), class:"btn btn-primary btn-block" %>
          </div>
          <!-- /.col -->
        </div>
        <% if current_user.customer_id %>
          <%= link_to "戻る", users_cards_path %> 
        <% else %>
          <%= link_to "戻る", users_plans_choice_path(current_user) %> 
        <% end %>
      <% end %>
    </div>
    
    <!-- /.form-box -->
  </div><!-- /.card -->
  <%
=begin%>
 <div>
        <h3><%= t('.cancel_my_account') %></h3>

          <%= button_to t('.cancel_my_account'), registration_path(resource_name), class:"btn btn-default", data: { confirm: t('.are_you_sure') }, method: :delete %></p>

          <%= link_to t('devise.shared.links.back'), :back %>
      </div> 
<%
=end%>
</div>