<%= render 'layouts/flash_messages' %>

<div class="container mt-3 col-lg-8">
  <h1>顧客一覧</h1>
  <% @users.each_with_index do |user| %>
    <div class="row">
      <div class="d-flex align-items-center border-top staff--index col-3">
        名前:
      </div>
      <div class="d-flex align-items-center border-top staff--index col-5">
        <%= user.name %>
      </div>
      <div class="d-flex align-items-center border-top staff--index col-2">
        <%= link_to "詳細", admins_user_show_path(user.customer_id, user_id: user.id), class: "btn btn-info btn--resize mt-3" %>
      </div>
      <div class="d-flex align-items-center border-top staff--index col-2">
        <%= link_to "削除", "#", method: :delete,
            data: { confirm: "削除してよろしいですか？" },
            class: "btn btn-danger btn--resize mt-3" %>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-3">
        Eメール:
      </div>
      <div class="mb-3 col-9">
        <%= user.email %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="d-flex align-items-center border-top staff--index col-12">
      <%= link_to "戻る", admins_index_path, class: "btn btn-secondary mt-3" %>
    </div>  
  </div>
</div>
