<header>
  <nav class="navbar navbar-expand navbar-light">
    <%
=begin%>
 <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.customer_id %>
          <%= link_to "膣美人オンラインサロン", users_cards_path, class: 'navbar-brand' %>
        <% else %>
          <%= link_to "膣美人オンラインサロン", users_plans_choice_path(current_user), class: 'navbar-brand' %>
        <% end %>
      <% else %>  
        <%= link_to "膣美人オンラインサロン", root_path, class: 'navbar-brand' %>
      <% end %>  
    </ul>   
<%
=end%>
    <div id="Navber">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
          <%= link_to edit_user_registration_path, class:'user-icon' do %>
            <%= image_tag "user_edit.png" %><br>
          <% end %>
            <%
=begin%>
 <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link' %> 
<%
=end%>
          </li>
          <li class="nav-item active">
          <%= link_to destroy_user_session_path, method: :delete, class:'logout-icon' do %>
            <%= image_tag "logout.png" %><br>
          <% end %>
            <%
=begin%>
 <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %> 
<%
=end%>
          </li>
      <% else %>
          <li class="nav-item active">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>